/* Contenedor general */
.contenedor {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap; /* permite que el main baje en celular */
}

/* Sección video */
.videosec {
  flex: 0 0 20%;
  background: black;
  min-width: 250px; /* en cel se vuelve bloque */
}

.videosec video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}